SERVER_PORT=8090
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5433/postgres
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=
SUPABASE_URL=http://localhost:8000
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_ANON_KEY=
SUPABASE_STORAGE_BUCKET=documentos-pmo
APP_CORS_ALLOWED_ORIGINS=http://localhost:5173
GEMINI_API_KEY=
